<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Pagina Web</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
</head>
<body  style="background-color:#303c55;">
    <div class="container p-2 " id="app">
        <div class="row p-5 d-flex justify-content-center" >
<div class="card col-12 col-md-5" style="background-color: #50648e; color:white;" >
    <div class="card-header">REGISTRO PARA CLIENTES</div>
        <div class="card-body">
                    <form id="frm"  @reset.prevent="nuevoRegistro" v-on:submit.prevent="guardarRegistro">
                        <div class="row p-1">
                            <!--Caja de texto de codigo-->
                            <div class="col-md-6">
                              <label for="txtCodigo" class="form-label">Codigo:</label>
                              <input pattern="^(USIS|SMIS)\d{6}$" required v-model="registro.codigo" type="text" class="form-control" id="txtCodigo">
                            </div>
                             <!--Caja de texto de Nombre-->
                            <div class="col-md-6">
                              <label for="txtNombre" class="form-label">Nombre</label>
                              <input required v-model="registro.nombre" type="text" class="form-control" id="txtNombre">
                        </div>
                        </div>
                            <!--Caja de texto de Direccion-->
                        <div class="row p-1">
                            <div class="col-12">
                              <label for="txtDireccion" class="form-label">Direccion</label>
                              <input pattern="^[a-zA-Z\s]{1,75}$" required v-model="registro.direccion" type="text" class="form-control" id="txtDireccion" placeholder="1234 Main St">
                            </div>
                        </div>
                         <!--Caja de texto de Municipio-->
                        <div class="row p-1">
                            <div class="col-6">
                                
                            </div>
                             <!--Lista de Departamento-->
                            <div class="col-md-6">
                                <label for="txtDepartamento" class="form-label">ZONA</label>
                                <select v-model="registro.zona" id="txtzona" class="form-select">
                                  <option value="" selected>Selecciona...</option>
                                  <option value="Rural">Rural</option>
                                  <option value="Urbano">Urbano</option>
                                 
                                  
                            </div>
                        </div>
                         <!--Caja de texto de Telefono-->
                        <div class="row p-1">
                            <div class="col-md-6">
                                <label for="txtTelefono" class="form-label">Telefono</label>
                                <input required v-model="registro.telefono" type="text" class="form-control" id="txtTelefono">
                            </div>
                             
                         
                         <!--Boton de guardado-->
                        <div class="row p-1"> 
                            <div class="col-md-6">
                              <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                             <!--boton de nuevo-->
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-primary">Nuevo</button>
                            </div>
                        </div>
                      </form>
            </div>
        </div>
    </div>
     <!--Tabla donde se muestran los registros-->
<div class="row p-5">
        <div class="col-12 col-md-12">
            <div class="card" style="background-color: #50648e; color:white;">
                 <!--Titulo de la Tabla-->
                <div class="card-header">Listado De Registros</div>
                <div class="card-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                 <!--Caja de texto de buscar-->
                                <th colspan="">Buscar:</th>
                                <th colspan="3"><input type="text" class="form-control" v-model="buscar"
                                    @keyup="listarRegistros()"
                                    placeholder="Buscar por codigo o nombre"></th>
                            </tr>
                            <tr>
                                 <!--Contenido de la caja de texto-->
                                <th>Codigo</th>
                                <th colspan="">Nombre</th>
                                <th colspan="">Direccion</th>
                                <th colspan="">ZONA</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                             <!--Apartado donde se muestran los registros en la tabla-->
                            <tr v-for="registro in registros" :key="registro.idAlmuno" @click="modificarRegistro(registro)" >
                                <td>{{ registro.codigo }}</td>
                                <td>{{ registro.nombre }}</td>
                                <td>{{ registro.direccion }}</td>
                                <td>{{ registro.zona }}</td>
                                
                                 <!--boton eliminar-->
                                <td><button class="btn btn-danger" @click="eliminarRegistro(registro)">ELIMINAR</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</div>
</div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
         const { createApp } = Vue;
        createApp({
            data() {
                return {
                    //variables

                    //variable de accion guarda la accion que el usuario realiza
                    accion:'nuevo',
                    //variable que guarda lo que se ingresa en el campo buscar de la tabla
                    buscar: '',
                    //lista donde se guardan los datos ingresados
                    registros: [],
                    //aqui se guardan los datos provisonal mente para luego ponerlos en la lista
                    registro:{
                        idRegistro : '',
                        codigo : '',
                        nombre : '',
                        direccion:'',
                        zona:'',
                       
                    }
                }
            },
            methods:{
                //metodo donde se guardan los datos
                guardarRegistro(){
                    this.listarRegistros();
                    if(this.accion==='nuevo'){
                        this.registro.idRegistro = new Date().getTime().toString(16);
                        this.registros.push( JSON.parse( JSON.stringify(this.registro) ) );
                    }else if(this.accion==='modificar'){
                        let index = this.registros.findIndex(registro=>registro.idRegistro==this.registro.idRegistro);
                        this.registros[index] = JSON.parse( JSON.stringify(this.registro) );
                    }else if(this.accion==='eliminar'){
                        let index = this.registros.findIndex(registro=>registro.idRegistro==this.registro.idRegistro);
                        this.registros.splice(index,1);
                    }
                    localStorage.setItem("registros", JSON.stringify(this.registros) );
                    this.nuevoRegistro();
                },
                //metodo para eliminar registros
                eliminarRegistro(registro){
                    if( confirm(`Esta seguro de eliminar a ${registro.nombre}?`) ){
                        this.accion='eliminar';
                        this.registro=registro;
                        this.guardarRegistro();
                    }
                },
                //metodo para poner nuevos registros
                nuevoRegistro(){
                    this.accion = 'nuevo';
                    this.registro.idRegistro = '';
                    this.registro.codigo = '';
                    this.registro.nombre = '';
                },
                //metodo para modificar registros
                modificarRegistro(registro){
                    this.accion = 'modificar';
                    this.registro = registro;
                },
                //metodo para listar los registros
                listarRegistros(){
                    this.registros = JSON.parse( localStorage.getItem('registros') || "[]" )
                        .filter(registro=>registro.nombre.toLowerCase().indexOf(this.buscar.toLowerCase())>-1);
                }
            },
            created(){
                this.listarRegistros();
            }
        }).mount('#app');
    </script>
</body>
</html>